@charset "utf-8";
/* CSS Document */
p {
	color:#5D5C61;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width:800px;
	text-align:justify;
}
h2,ol,ul{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color:#557A95;	
}
h1{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color:#5D5C61;
}
body {
	background-image: url("Slikeprojektni/pozadina.jpg");
}
h3{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color:#557A95
}
a:link{
	color:#978373;
	background-color:transparent;
	padding:5px;
	line-height: 40px;
	border: 0.5px dotted #222121;
}
a:hover{
	background-color: lightgrey;
}